<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tata.jiuye.mapper.AcctSettleInfoMapper">
  <resultMap id="BaseResultMap" type="com.tata.jiuye.model.AcctSettleInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="acct_id" jdbcType="BIGINT" property="acctId" />
    <result column="befor_bal" jdbcType="DECIMAL" property="beforBal" />
    <result column="change_amount" jdbcType="DECIMAL" property="changeAmount" />
    <result column="after_bal" jdbcType="DECIMAL" property="afterBal" />
    <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime" />
    <result column="flow_type" jdbcType="VARCHAR" property="flowType" />
    <result column="flow_type_detail" jdbcType="VARCHAR" property="flowTypeDetail" />
    <result column="source_id" jdbcType="BIGINT" property="sourceId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, order_no, acct_id, befor_bal, change_amount, after_bal, insert_time, flow_type,
    flow_type_detail, source_id, update_time
  </sql>
  <select id="selectByExample" parameterType="com.tata.jiuye.model.AcctSettleInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from acct_settle_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from acct_settle_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from acct_settle_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tata.jiuye.model.AcctSettleInfoExample">
    delete from acct_settle_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tata.jiuye.model.AcctSettleInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into acct_settle_info (order_no, acct_id, befor_bal,
      change_amount, after_bal, insert_time,
      flow_type, flow_type_detail, source_id,
      update_time)
    values (#{orderNo,jdbcType=VARCHAR}, #{acctId,jdbcType=BIGINT}, #{beforBal,jdbcType=DECIMAL},
      #{changeAmount,jdbcType=DECIMAL}, #{afterBal,jdbcType=DECIMAL}, #{insertTime,jdbcType=TIMESTAMP},
      #{flowType,jdbcType=VARCHAR}, #{flowTypeDetail,jdbcType=VARCHAR}, #{sourceId,jdbcType=BIGINT},
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tata.jiuye.model.AcctSettleInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into acct_settle_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="acctId != null">
        acct_id,
      </if>
      <if test="beforBal != null">
        befor_bal,
      </if>
      <if test="changeAmount != null">
        change_amount,
      </if>
      <if test="afterBal != null">
        after_bal,
      </if>
      <if test="insertTime != null">
        insert_time,
      </if>
      <if test="flowType != null">
        flow_type,
      </if>
      <if test="flowTypeDetail != null">
        flow_type_detail,
      </if>
      <if test="sourceId != null">
        source_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="acctId != null">
        #{acctId,jdbcType=BIGINT},
      </if>
      <if test="beforBal != null">
        #{beforBal,jdbcType=DECIMAL},
      </if>
      <if test="changeAmount != null">
        #{changeAmount,jdbcType=DECIMAL},
      </if>
      <if test="afterBal != null">
        #{afterBal,jdbcType=DECIMAL},
      </if>
      <if test="insertTime != null">
        #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flowType != null">
        #{flowType,jdbcType=VARCHAR},
      </if>
      <if test="flowTypeDetail != null">
        #{flowTypeDetail,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        #{sourceId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tata.jiuye.model.AcctSettleInfoExample" resultType="java.lang.Long">
    select count(*) from acct_settle_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update acct_settle_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.orderNo != null">
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.acctId != null">
        acct_id = #{record.acctId,jdbcType=BIGINT},
      </if>
      <if test="record.beforBal != null">
        befor_bal = #{record.beforBal,jdbcType=DECIMAL},
      </if>
      <if test="record.changeAmount != null">
        change_amount = #{record.changeAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.afterBal != null">
        after_bal = #{record.afterBal,jdbcType=DECIMAL},
      </if>
      <if test="record.insertTime != null">
        insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.flowType != null">
        flow_type = #{record.flowType,jdbcType=VARCHAR},
      </if>
      <if test="record.flowTypeDetail != null">
        flow_type_detail = #{record.flowTypeDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.sourceId != null">
        source_id = #{record.sourceId,jdbcType=BIGINT},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update acct_settle_info
    set id = #{record.id,jdbcType=BIGINT},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      acct_id = #{record.acctId,jdbcType=BIGINT},
      befor_bal = #{record.beforBal,jdbcType=DECIMAL},
      change_amount = #{record.changeAmount,jdbcType=DECIMAL},
      after_bal = #{record.afterBal,jdbcType=DECIMAL},
      insert_time = #{record.insertTime,jdbcType=TIMESTAMP},
      flow_type = #{record.flowType,jdbcType=VARCHAR},
      flow_type_detail = #{record.flowTypeDetail,jdbcType=VARCHAR},
      source_id = #{record.sourceId,jdbcType=BIGINT},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tata.jiuye.model.AcctSettleInfo">
    update acct_settle_info
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="acctId != null">
        acct_id = #{acctId,jdbcType=BIGINT},
      </if>
      <if test="beforBal != null">
        befor_bal = #{beforBal,jdbcType=DECIMAL},
      </if>
      <if test="changeAmount != null">
        change_amount = #{changeAmount,jdbcType=DECIMAL},
      </if>
      <if test="afterBal != null">
        after_bal = #{afterBal,jdbcType=DECIMAL},
      </if>
      <if test="insertTime != null">
        insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
      <if test="flowType != null">
        flow_type = #{flowType,jdbcType=VARCHAR},
      </if>
      <if test="flowTypeDetail != null">
        flow_type_detail = #{flowTypeDetail,jdbcType=VARCHAR},
      </if>
      <if test="sourceId != null">
        source_id = #{sourceId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tata.jiuye.model.AcctSettleInfo">
    update acct_settle_info
    set order_no = #{orderNo,jdbcType=VARCHAR},
      acct_id = #{acctId,jdbcType=BIGINT},
      befor_bal = #{beforBal,jdbcType=DECIMAL},
      change_amount = #{changeAmount,jdbcType=DECIMAL},
      after_bal = #{afterBal,jdbcType=DECIMAL},
      insert_time = #{insertTime,jdbcType=TIMESTAMP},
      flow_type = #{flowType,jdbcType=VARCHAR},
      flow_type_detail = #{flowTypeDetail,jdbcType=VARCHAR},
      source_id = #{sourceId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getIncome" parameterType="com.tata.jiuye.DTO.TotalFlowQueryParam" resultType="java.math.BigDecimal">
    SELECT
        SUM(asi.`change_amount`) AS amount
    FROM
        acct_settle_info asi
        LEFT JOIN acct_info ai ON ai.id = asi.acct_id
    WHERE
        ai.member_id = #{sumParam.memberId}
      AND asi.flow_type = #{sumParam.flowType}
    <if test="sumParam.startDate != null and sumParam.endDate != null">
        AND asi.insert_time BETWEEN #{sumParam.startDate} AND #{sumParam.endDate}
    </if>
  </select>


    <select id="getIncomeFlow" resultMap="BaseResultMap">
    SELECT
        asi.*
    FROM
        acct_settle_info asi
    WHERE
      asi.acct_id = #{acctId}
        AND YEAR (asi.insert_time) = #{year}
        AND MONTH (asi.insert_time)= #{month}
    <if test="flowType != null">
        AND asi.flow_type = #{flowType,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>
