<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tata.jiuye.mapper.InventoryMapper">
  <resultMap id="BaseResultMap" type="com.tata.jiuye.model.Inventory">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="wms_member_id" jdbcType="BIGINT" property="wmsMemberId" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="available_inventory_quantity" jdbcType="INTEGER" property="availableInventoryQuantity" />
    <result column="locked_inventory_quantity" jdbcType="INTEGER" property="lockedInventoryQuantity" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="replenishment_price" jdbcType="DECIMAL" property="replenishmentPrice" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, wms_member_id, product_id, available_inventory_quantity, locked_inventory_quantity, 
    unit, replenishment_price, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.tata.jiuye.model.InventoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from inventory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from inventory
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from inventory
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.tata.jiuye.model.InventoryExample">
    delete from inventory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tata.jiuye.model.Inventory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into inventory (wms_member_id, product_id, available_inventory_quantity, 
      locked_inventory_quantity, unit, replenishment_price, 
      create_time, update_time)
    values (#{wmsMemberId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{availableInventoryQuantity,jdbcType=INTEGER}, 
      #{lockedInventoryQuantity,jdbcType=INTEGER}, #{unit,jdbcType=VARCHAR}, #{replenishmentPrice,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tata.jiuye.model.Inventory">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into inventory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="wmsMemberId != null">
        wms_member_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="availableInventoryQuantity != null">
        available_inventory_quantity,
      </if>
      <if test="lockedInventoryQuantity != null">
        locked_inventory_quantity,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="replenishmentPrice != null">
        replenishment_price,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="wmsMemberId != null">
        #{wmsMemberId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="availableInventoryQuantity != null">
        #{availableInventoryQuantity,jdbcType=INTEGER},
      </if>
      <if test="lockedInventoryQuantity != null">
        #{lockedInventoryQuantity,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="replenishmentPrice != null">
        #{replenishmentPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tata.jiuye.model.InventoryExample" resultType="java.lang.Long">
    select count(*) from inventory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update inventory
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.wmsMemberId != null">
        wms_member_id = #{record.wmsMemberId,jdbcType=BIGINT},
      </if>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=BIGINT},
      </if>
      <if test="record.availableInventoryQuantity != null">
        available_inventory_quantity = #{record.availableInventoryQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.lockedInventoryQuantity != null">
        locked_inventory_quantity = #{record.lockedInventoryQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.replenishmentPrice != null">
        replenishment_price = #{record.replenishmentPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update inventory
    set id = #{record.id,jdbcType=BIGINT},
      wms_member_id = #{record.wmsMemberId,jdbcType=BIGINT},
      product_id = #{record.productId,jdbcType=BIGINT},
      available_inventory_quantity = #{record.availableInventoryQuantity,jdbcType=INTEGER},
      locked_inventory_quantity = #{record.lockedInventoryQuantity,jdbcType=INTEGER},
      unit = #{record.unit,jdbcType=VARCHAR},
      replenishment_price = #{record.replenishmentPrice,jdbcType=DECIMAL},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.tata.jiuye.model.Inventory">
    update inventory
    <set>
      <if test="wmsMemberId != null">
        wms_member_id = #{wmsMemberId,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="availableInventoryQuantity != null">
        available_inventory_quantity = #{availableInventoryQuantity,jdbcType=INTEGER},
      </if>
      <if test="lockedInventoryQuantity != null">
        locked_inventory_quantity = #{lockedInventoryQuantity,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="replenishmentPrice != null">
        replenishment_price = #{replenishmentPrice,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tata.jiuye.model.Inventory">
    update inventory
    set wms_member_id = #{wmsMemberId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      available_inventory_quantity = #{availableInventoryQuantity,jdbcType=INTEGER},
      locked_inventory_quantity = #{lockedInventoryQuantity,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR},
      replenishment_price = #{replenishmentPrice,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>