<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tata.jiuye.mapper.ReplenishableExamineMapper">
  <resultMap id="BaseResultMap" type="com.tata.jiuye.model.ReplenishableExamine">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="apply_id" jdbcType="BIGINT" property="applyId" />
    <result column="apply_name" jdbcType="VARCHAR" property="applyName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="approval_id" jdbcType="BIGINT" property="approvalId" />
    <result column="approval_name" jdbcType="BIGINT" property="approvalName" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="trans_sn" jdbcType="BIGINT" property="transSn" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="imgs" jdbcType="VARCHAR" property="imgs" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, apply_id, apply_name, create_time, approval_id, approval_name, status, update_time, 
    trans_sn, product_id, number,imgs
  </sql>

  <select id="queryList"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from replenishable_examine
    <where>
      <if test="id !=null and id !=''">
        and id = #{id}
      </if>
      <if test="applyId !=null and applyId !=''">
        and apply_id = #{applyId}
      </if>
      <if test="applyName !=null and applyName !=''">
        and apply_name = #{applyName}
      </if>
      <if test="approvalId !=null and approvalId !=''">
        and approval_id = #{approvalId}
      </if>
      <if test="approvalName !=null and approvalName !=''">
        and approval_name = #{approvalName}
      </if>
      <if test="status !=null">
        and status = #{status}
      </if>
      <if test="productId !=null and productId !=''">
        and product_id = #{productId}
      </if>
      <if test="startTime !=null and startTime !=''">
        and createTime >= #{startTime}
      </if>
      <if test="endTime !=null and endTime !=''">
        and createTime = #{endTime}
      </if>
    </where>
  </select>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from replenishable_examine
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByExample" parameterType="com.tata.jiuye.model.ReplenishableExamineExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from replenishable_examine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.tata.jiuye.model.ReplenishableExamineExample">
    delete from replenishable_examine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tata.jiuye.model.ReplenishableExamine">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into replenishable_examine (apply_id, apply_name, create_time, 
      approval_id, approval_name, status, 
      update_time, trans_sn, product_id, 
      number,imgs)
    values (#{applyId,jdbcType=BIGINT}, #{applyName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{approvalId,jdbcType=BIGINT}, #{approvalName,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{transSn,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, 
      #{number,jdbcType=INTEGER}, #{imgs,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tata.jiuye.model.ReplenishableExamine">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into replenishable_examine
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="applyId != null">
        apply_id,
      </if>
      <if test="applyName != null">
        apply_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="approvalId != null">
        approval_id,
      </if>
      <if test="approvalName != null">
        approval_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="transSn != null">
        trans_sn,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="number != null">
        number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="applyId != null">
        #{applyId,jdbcType=BIGINT},
      </if>
      <if test="applyName != null">
        #{applyName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvalId != null">
        #{approvalId,jdbcType=BIGINT},
      </if>
      <if test="approvalName != null">
        #{approvalName,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="transSn != null">
        #{transSn,jdbcType=BIGINT},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tata.jiuye.model.ReplenishableExamineExample" resultType="java.lang.Long">
    select count(*) from replenishable_examine
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update replenishable_examine
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.applyId != null">
        apply_id = #{record.applyId,jdbcType=BIGINT},
      </if>
      <if test="record.applyName != null">
        apply_name = #{record.applyName,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.approvalId != null">
        approval_id = #{record.approvalId,jdbcType=BIGINT},
      </if>
      <if test="record.approvalName != null">
        approval_name = #{record.approvalName,jdbcType=BIGINT},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.transSn != null">
        trans_sn = #{record.transSn,jdbcType=BIGINT},
      </if>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=BIGINT},
      </if>
      <if test="record.number != null">
        number = #{record.number,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update replenishable_examine
    set id = #{record.id,jdbcType=BIGINT},
      apply_id = #{record.applyId,jdbcType=BIGINT},
      apply_name = #{record.applyName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      approval_id = #{record.approvalId,jdbcType=BIGINT},
      approval_name = #{record.approvalName,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      trans_sn = #{record.transSn,jdbcType=BIGINT},
      product_id = #{record.productId,jdbcType=BIGINT},
      number = #{record.number,jdbcType=INTEGER},
    imgs = #{record.imgs,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tata.jiuye.model.ReplenishableExamine">
    update replenishable_examine
      apply_id = #{record.applyId,jdbcType=BIGINT},
      apply_name = #{record.applyName,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      approval_id = #{record.approvalId,jdbcType=BIGINT},
      approval_name = #{record.approvalName,jdbcType=BIGINT},
      status = #{record.status,jdbcType=INTEGER},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      trans_sn = #{record.transSn,jdbcType=BIGINT},
      product_id = #{record.productId,jdbcType=BIGINT},
       imgs = #{record.imgs,jdbcType=VARCHAR},
      number = #{record.number,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>