<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tata.jiuye.mapper.UmsMemberAndMemberMapper">
  <resultMap id="BaseResultMap" type="com.tata.jiuye.model.UmsMemberAndMember">
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="father_id" jdbcType="VARCHAR" property="fatherId" />
    <result column="grandpa_id" jdbcType="VARCHAR" property="grandpaId" />
    <result column="recommend_id" jdbcType="VARCHAR" property="recommendId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    user_name, father_id, grandpa_id, recommend_id, create_time
  </sql>
  <select id="selectByExample" parameterType="com.tata.jiuye.model.UmsMemberAndMemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_member_and_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByUsername" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ums_member_and_member
    where user_name = #{userName,jdbcType=VARCHAR}
  </select>

  <delete id="deleteByExample" parameterType="com.tata.jiuye.model.UmsMemberAndMemberExample">
    delete from ums_member_and_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.tata.jiuye.model.UmsMemberAndMember">
    insert into ums_member_and_member (user_name, father_id, grandpa_id, 
      recommend_id, create_time)
    values (#{userName,jdbcType=VARCHAR}, #{fatherId,jdbcType=VARCHAR}, #{grandpaId,jdbcType=VARCHAR}, 
      #{recommendId,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.tata.jiuye.model.UmsMemberAndMember">
    insert into ums_member_and_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="fatherId != null">
        father_id,
      </if>
      <if test="grandpaId != null">
        grandpa_id,
      </if>
      <if test="recommendId != null">
        recommend_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="fatherId != null">
        #{fatherId,jdbcType=VARCHAR},
      </if>
      <if test="grandpaId != null">
        #{grandpaId,jdbcType=VARCHAR},
      </if>
      <if test="recommendId != null">
        #{recommendId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.tata.jiuye.model.UmsMemberAndMemberExample" resultType="java.lang.Long">
    select count(*) from ums_member_and_member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ums_member_and_member
    <set>
      <if test="record.userName != null">
        user_name = #{record.userName,jdbcType=VARCHAR},
      </if>
      <if test="record.fatherId != null">
        father_id = #{record.fatherId,jdbcType=VARCHAR},
      </if>
      <if test="record.grandpaId != null">
        grandpa_id = #{record.grandpaId,jdbcType=VARCHAR},
      </if>
      <if test="record.recommendId != null">
        recommend_id = #{record.recommendId,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ums_member_and_member
    set user_name = #{record.userName,jdbcType=VARCHAR},
      father_id = #{record.fatherId,jdbcType=VARCHAR},
      grandpa_id = #{record.grandpaId,jdbcType=VARCHAR},
      recommend_id = #{record.recommendId,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>